name: Push to Replicate

on:
  workflow_dispatch:  # Allows you to click a button to run it
  push:
    branches:
      - main          # Automatically push when you update 'main' branch

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # This step deletes pre-installed software to free up ~15GB of space
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space-action@v1.3.1
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Setup Cog
        uses: replicate/setup-cog@v2
        with:
          token: ${{ secrets.REPLICATE_API_TOKEN }}

      - name: Push to Replicate
        run: cog push r8.im/hashirds/ashir
